
/*pagina contacto*/
html {
	
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  	background-color: hsla(0,0%,0%, 0.4);
	text-align:center;
	
}

.container {
  padding: 0 16px;
  
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: #1A5276;
  
}
.row{
	margin-bottom:80px;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: black;
  background-color: #ec7063;
  text-align: center;
  cursor: pointer;
  width: 80%;
}

.button:hover {
  background-color: #F89388;
}
div.card img{
	
	width :3px;
	
	
	
}
header{
	width:100%;
	margin:0px;
	padding:0;
}
.contenedor{
	width:100%
}
 .team{
	
	text-align:center;
		color:#1A5276;
		font-family:arial;
	border-bottom:2px solid #ffda16;
	
}
